body {
    margin: 2em 1em;
}

.list-row {
    padding-bottom: 5px;
    font-size: 0.8em;
    clear: both;
}

.side-list {
    background-color: white;
    border: 1px solid #ddc;
    border-radius: 0.5em;
    margin: 0 0.8em;
    height: 25.3em;
    overflow-y: auto;
}

    .side-list h4 {
        text-align: center;
        color: #0088CC;
        margin: 0.3em 0;
        padding-bottom: 0.3em;
        border-bottom: 1px solid #ddc;
    }

    .side-list ul {
        list-style: none;
        padding: 0;
        margin: 0.5em;
    }

        .side-list ul li {
            padding: 0.2em;
            cursor: pointer;
        }

            .side-list ul li:hover {
                background-color: #85D6FF;
            }

#textToSend {
    border-radius: 0;
}

#chatMessages {
    border: 1px solid black;
    height: 25em;
    background-color: #f9f9f9;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.message .msg-user-name {
    padding-left: 5px;
    font-weight: bold;
}
