.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

    .modal-background .modal {
        position: relative;
        top: 20%;
        background-color: white;
        padding: 2em;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
        margin: 0 auto;
        display: inline-block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        overflow-y: auto;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        width: 26em;
    }

.modal .pure-form input[type=radio] {
    margin: 0.6em 0;
}

.modal .pure-control-group label {
    width: 5em;
}

.modal .pure-button-primary {
    margin-top: 1em;
}

.modal .pure-form-aligned .pure-control-group .pure-radio {
    width: auto;
}

.modal .pure-form input:valid:not([type=submit]) {
    border-color: #080;
    background: #e6ffe6 url(../img/valid.png) no-repeat 97% center;
}

.modal .pure-form input:focus:invalid:not([type=submit]) {
    border-color: #800;
    background: #ffe6e6 url(../img/invalid.png) no-repeat 97% center;
}

.modal .pure-control-group input#name {
    width: 20em;
}

.modal .pure-control-group input#age {
    width: 5em;
}