.tabs {
    line-height: 14px;
    overflow: hidden;
}

    .tabs ul {
        height: 1.9em;
        list-style: none;
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

        .tabs ul li {
            display: block;
            position: relative;
            font-weight: bold;
            padding: 5px 10px 5px 10px;
            background: #eee;
            border: 1px solid #ddc;
            border-bottom: none;
            border-width: 1px;
            color: #999;
            cursor: pointer;
            height: 14px;
            margin-bottom: -1px;
            margin-right: 5px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            float: left;
            height: 1.25em;
            line-height: 1.4em;
        }

            .tabs ul li.selected-tab {
                background: #fff;
                border-bottom: 0;
            }
            
            .tabs ul li.selected-tab i {
                margin-left: 0.3em;
                color: #BA0000;
                cursor: pointer;
            }

            .tabs ul li.selected-tab .tab-name {
                color: #0088CC;
            }

    .tabs .tab-content {
        margin: 0 auto;
        background-color: white;
        border: 1px solid #ddc;
        padding: 0.7em;
        display: none;
        height: 20em;
        overflow-y: auto;
    }

    .tabs .selected-tab {
        display: block;
    }